body {
    font-family: 'Oswald', sans-serif;
    background-color: #413128;
    margin: 0px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding: 20px;
    float: left;
    
    
}

.projects {
    border: 20px #F7C5DD solid;
    padding: 20px;
    background-color:#DDEBE7;
    border-radius: 45px;
}

.about-me {
    border: 20px #F7C5DD solid;
    padding: 20px;
    background-color:#DDEBE7;
    border-radius: 45px;
}

.title {
    text-align: center;
    color:bisque
}

main {
    display: flex;
    padding: 10px;
}

.projects {
    flex: 2
}

.about-me {
    flex: 1;
    margin-right: 10px;
}


.experience-organization {
    display: inline;
}

.dark-mode {
    font-family: 'Oswald', sans-serif;
    background-color: #201702;
    margin: 0px;
}

@media only screen and (max-width: 800px) {
    main {
      flex-direction: column;
    }

    .about-me {
        margin: 0px 0px 10px 0px;
    }
  }